$main-layout-width: 1600px;

body {
  background-color: $dark;
}

.main-layout {
  display: block;
  max-width: $main-layout-width;
  margin: 0 auto;
  padding: 0 1rem;
  min-height: 80vh;

  margin-top: 1rem;
  color: $gray-100;

  &.scroll-disable {
    overflow: hidden;
  }
}

.page-section {
  padding-left: 1rem;
  padding-right: 1rem;
}
