a {
  color: $white;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.btn-outline-light {
  color: $gray-600;
}

.btn {
  color: $gray-100;
}

.card {
  background: $secondary;
  color: $white;
}

.modal-content {
  background: $secondary;
}
